<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html>

<script th:src="@{/js/jquery-1.11.3.min.js}"></script>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    var contextPath = /*[[${#httpServletRequest.contextPath}]]*/'';
    var secondMenu = /*[[${secondMenuList}]]*/'';

    // function secondCont(firstId) {
    //     $(secondMenu).each(function (index, value) {
    //         if (value.parentId == firstId) {
    //             window.location.href = contextPath + "/companyInfo?id=" + value.id;
    //             return false;
    //         }
    //     });
    // }

    $(function () {
        $(".dropdown-menu").each(function () {
            //取出ul下的第一个li
            var li = $(this).children().first().children().first().attr("href");
            $(this).prev().attr("href", li);
        });

    });

    /*]]>*/
</script>

<header>
    <!-- Navigation Menu start-->

    <nav id="topNav" class="navbar navbar-default main-menu" role="navigation">
        <div class="container">
            <button class="navbar-toggler hidden-md-up pull-right" type="button" data-toggle="collapse"
                    data-target="#collapsingNavbar">
                ☰
            </button>

            <a class="navbar-brand page-scroll" th:href="@{/}">
                <img th:src="@{/logo.png}"/>
                铂钥天下
            </a>
            <div class="collapse navbar-toggleable-sm " id="collapsingNavbar">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a th:href="@{/}">主页</a>
                    </li>
                    <li class="dropdown" th:each="first:${firstMenuList}">
                        <a th:text="${first.menuName}" class="first-menu" href="javascript:void(0)"></a>
                        <ul class="dropdown-menu" th:if="${first.bson==1}">
                            <li th:each="second:${secondMenuList}" th:if="${second.parentId==first.id}">
                                <a th:text="${second.menuName}" class="second-menu"
                                   th:href="${first.menuUrl}+'?id='+${second.id}+'&parentId='+${second.parentId}">
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section class="slider-pro slider" id="slider">
    <div class="sp-slides">

        <!-- Slides -->
        <div class="sp-slide main-slides" th:each="image:${imageList}">
            <div class="img-overlay"></div>
            <img class="sp-image" th:src="${image.imageUrl}" alt="Slider 2"/>

            <h1 class="sp-layer slider-text-big"
                data-position="center" data-show-transition="left" data-hide-transition="right" data-show-delay="1500"
                data-hide-delay="200">
                <span class="highlight-texts" th:text="${image.description}"></span>
            </h1>

            <p class="sp-layer"
               data-position="center" data-vertical="15%" data-show-delay="2000" data-hide-delay="200"
               data-show-transition="left" data-hide-transition="right" th:text="${image.associateDescription}">
            </p>
        </div>
        <!-- Slides End -->

    </div>
</section>
