<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="">
	<meta name="Author" content="">
	<title>Home</title>
	<head th:replace="common/common_css"></head>

	<head th:replace="common/common_js"></head>
</head>

<body>
<!-- Header End -->
<!-- Navigation Menu start-->


<!-- Header End -->
<header th:replace="common/common_head"></header>
<!-- Header End -->

<!-- Main Slider End --> 


<br/>
<p id="position" th:each="first:${firstMenuList}" th:if="${parentId==first.id}">当前位置：主页 --> <span
		th:text="${first.menuName}"></span>-->
	<span th:each="second:${secondMenus}" th:if="${second.id==secondId}"><span
			th:text="${second.menuName}"></span></span>--><span th:text="${thirdMenu.name}"></span>
</p>
<hr/>
<!-- position End  -->


<div class="backline" id="backline">
	<div class="sec">
		<table>
			<tr th:each="second:${secondMenus}">

				<!--<td class="hove"><a href="">公司介绍</a></td>-->
				<!--<td><a href="">领导致辞</a></td>-->
				<!--<td><a href="">组织机构</a></td>-->
				<td><a th:text="${second.menuName}"
					   th:href="${second.menuUrl}+'?id='+${second.id}+'&parentId='+${parentId}"></a>
				</td>

			</tr>
		</table>
	</div>
</div>
<div class="mainContainer" id="mainContainer">
	<!-- 文字或者图片用这个 -->
	<!-- <h1>这里是标题</h1>
    <p>这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！</p> -->

	<!-- 视频用这个 -->
	<!-- <h1>标题</h1>
    <div class="video">
        <iframe  src='http://player.youku.com/embed/XMzQ0NzY5NzYxMg==' frameborder=0 'allowfullscreen'></iframe>
        <iframe src="http://open.iqiyi.com/developer/player_js/coopPlayerIndex.html?vid=c88b36c6d453c4be09fe5531382ab55f&tvId=428069600&accessToken=2.f22860a2479ad60d8da7697274de9346&appKey=3955c3425820435e86d0f4cdfe56f5e7&appId=1368&height=100%&width=100%" frameborder="0" allowfullscreen="true" width="100%" height="100%"></iframe>
    </div>
    <p>这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！这里是内容！</p> -->

	<div class="container music">
		<div class="row" onselectstart="return false;">
			<audio src="" style="display: none" id="play">
			</audio>
			<span class="icon_menu"></span>
			<div class="col-sm-4 col-xs-12  music-list">
				<div class="panel panel-default bootstraPanel">
					<div class="panel-heading taggerTitle">
						播放列表
						<span class="checkBox">
								<i class="arrow_carrot-2left"></i> 
							</span>
					</div>
					<!-- <div class="taggerTitle">播放列表</div> -->
					<div class="panel-body test">
						<table class="table table-hover">
							<tr class="clickmusic" th:each="music:${musicList}">
								<td class="id" th:text="${music.id}"></td>
								<td th:text="${music.musicName}"></td>
								<td th:text="${music.musicSinger}"></td>
								<td th:text="${music.musicTime}"></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="col-sm-7 col-xs-11 hidden-xs animateLrc">
				<div class="panel panel-default">
					<div class="panel-body lrcPanel">
						<ul class="lrc">
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 col-xs-12">
				<div class="row">
					<div class="col-sm-4 col-xs-4 pre">
						<i class=" arrow_carrot-2left_alt "></i>
					</div>
					<div class="col-sm-4 col-xs-4 stop">
						<i class="icon_pause_alt"></i>
					</div>
					<div class="col-sm-4 col-xs-4 next">
						<i class=" arrow_carrot-2right_alt "></i>
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-xs-12">
				<div clas="row">
					<div class="col-sm-2 col-xs-3 starTime">00:00</div>
					<div class="col-sm-8 col-xs-6">
						<div class="progress" id="timeCss">
							<div class="progressBar timeBar"></div>
						</div>
					</div>
					<div class="col-sm-2 col-xs-3 endTime">00:00</div>
				</div>
			</div>
			<div class="col-sm-4 col-xs-12">
				<div class="row">

					<div class="col-sm-2 col-xs-2 voice">
						<i class="icon_volume-high"></i>
					</div>

					<div class="col-sm-5 col-xs-5">
						<div class="progress" id="voiceCss">
							<div class="progressBar voiceBar"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="clear: both;"></div>
	</div>

<footer th:replace="common/common_foot"></footer>


<!-- The JavaScript -->


<script th:src="@{/js/jquery-1.11.3.min.js}"></script>
<script th:src="@{/js/modernizr.min.js}"></script>
<script th:src="@{/js/jquery.scrollUp.min.js}"></script>
<script th:src="@{/js/isotope.pkgd.min.js}"></script>
<script th:src="@{/js/jquery.stellar.min.js}"></script>
<script th:src="@{/js/wow.min.js}"></script>
<script th:src="@{/js/jquery.nav.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/jquery.sliderPro.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>

<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/music.js}"></script>
</body>
</html>